h1 {
  margin: 0;
}

#container {
  min-width: 600px;
  min-height: 600px;
  background: green;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

#sidebar {
  width: 20%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 20px black;

}

.col {
  width: 40%;
  box-sizing: border-box;
}

.row {
  height: 50%;
  box-sizing: border-box;
  text-align: center;
}

.card {
  width: 83px;
  height: 121px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: -50px;
}
