h1 {
  margin: 0;
}

button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
}

button:disabled {
  cursor: not-allowed;
}

#container {
  min-width: 600px;
  min-height: 600px;
  background: green;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

#sidebar {
  width: 20%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 20px black;
}

.stat {
  padding: 0 20px;
  text-align: left;
}

.stat span {
  float: right;
}

#blackjack-table {
  width: 80%;
  display: flex;
  font-family: cursive;
}

#blackjack-table h1 {
  color: beige;
}

#dealer-cards {
  position: relative;
  text-align: center;
}

#message-pane {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  color: white;
}

.col {
  width: 50%;
  box-sizing: border-box;
}

.row {
  position: relative;
  height: 50%;
  box-sizing: border-box;
  text-align: center;
}

.card {
  width: 83px;
  height: 121px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin-top: 30px;
  margin-right: -50px;
  transform: translateX(-25px);
}

#chip-container {
  width: 80%;
  padding: 2% 10%;
  justify-content: center;
}

.chip {
  height: 80px;
  width: 80px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-family: fantasy;
  border-radius: 100%;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.red-chip {
  background-image: url("../images/red_chip.png");
  background-position: center;
  background-size: cover;
}

.green-chip {
  background-image: url("../images/green_chip.png");
  background-position: center;
  background-size: cover;
}

.white-chip {
  background-image: url("../images/white_chip.png");
  background-position: center;
  background-size: cover;
}

#chip-count {
  position: absolute;
  color: beige;
  left: 0;
  right: 0;
  bottom: 25px;
}

#user-action-bar {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  bottom: 20px;
}

.user-action {
  box-shadow: 0 0 10px black;
}
