h1 {
  margin: 0;
}

#container {
  min-width: 600px;
  min-height: 600px;
  background: green;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

#sidebar {
  width: 20%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 20px black;
}

.stat {
  padding: 0 20px;
  text-align: left;
}

.stat span {
  float: right;
}

#blackjack-table {
  width: 80%;
  display: flex;
}

#blackjack-table h1 {
  color: white;
}

#dealer-cards {
  position: relative;
  text-align: center;
}

#message-pane {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  color: white;
}

.col {
  width: 50%;
  box-sizing: border-box;
}

.row {
  position: relative;
  height: 50%;
  box-sizing: border-box;
  text-align: center;
}

.card {
  width: 83px;
  height: 121px;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: -50px;
  transform: translateX(-25px);
}

#chip-container {
  width: 80%;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.chip {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
}

#user-action-bar {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  bottom: 20px;
}

.user-action {
  width: 70px;
  height: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
}
